
  
  .container {
    background-color: rgb(223, 220, 220);
    border-radius: 25px;
  }
  
  .barCompleted {
    background-image: linear-gradient(to right, white , #f472b6);
    width: 80%;
    border-radius: 25px;
  }
  
  .label {
    font-size: 20px;
    color: green;
  }